body{
  background: #232323;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card{
  min-height: 20vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px dashed #eee;
  padding: 1rem;
  background: rgba(255, 255, 255, .1);
}
